body {
  background-color: azure;
}

.main-container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.input {
  text-align: center;
  border: 4px solid royalblue;
  border-radius: 6px;
  padding: 10px;
  margin: 45px auto;
  width: 300px;
}

.countryCard {
  display: flex;
  flex-direction: row;
  border: 2px solid violet;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

p {
  color: blueviolet;
}
